<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

<!-- Charts -->
<script src="{{ "/js/chart.bundle.min.js" | prepend: site.baseurl }}"></script>


<!--                   -->
<!-- Custom JS Scripts -->
<!--                   -->

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

<!-- Graph cart animator -->
<script src=/js/custom/animateLanguagesChart.js></script>

<!-- TypedJS typing animator -->
<script src=/js/typed.js></script>
<script src=/js/custom/introTypeAnimator.js></script>

