<!-- About Section -->
    <section id="work-experience" class="bg-light-gray">
        <div class="container">
            <div class="row row-no-margin">
                <div class="col-lg-12 text-center timeline-subtitle-row">
                    <div class="row">
                        <h2 class="section-heading">My Experiences</h2>
                        <h3 class="section-subheading text-muted">a brief timeline...</h3>            
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-3 text-center text-primary ">
                            <h3 class="section-subheading timeline-subtitle text-muted">Work Experience</h3>
                        </div>
                        <div class="col-lg-2 text-center text-primary">
                            <h3 class="section-subheading timeline-subtitle text-muted">&</h3>
                        </div>
                        <div class="col-lg-3 text-center">
                            <h3 class="section-subheading timeline-subtitle text-muted">Internships</h3>
                        </div>      
                        <div class="col-lg-2"></div>          
                    </div>
                </div>
                
            <div class="row row-no-margin">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/work-experience/siemens.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020 - Today</h4>
                                    <h4 class="subheading">Siemens</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Business Logic enforcement via Hyperledger Blockchain</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/work-experience/warp.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">WARP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Autonomous driving internship</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/work-experience/dieboldnixdorf.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 - 2019</h4>
                                    <h4 class="subheading">Diebold Nixdorf</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ATM Software development.<br>B2B project for Ziraat Bank's more than 7000 multivendor ATMs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/work-experience/turkcell.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Source code quality review <br>App vulnerability scanning <br>Web crawler</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/work-experience/airties.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Embedded device coding <br>IoT smarthome development</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>